body {
    text-align: center;
    background-color: #8CB9BD;
}

.main-div {
    margin-top: 4rem;
}

img {
    height: 500px;
    width: 900px;
}

.btns-div {
    margin-top: 2rem;
}

.btn {
    margin: 5px 10px 10px 10px;
}